{% extends 'base.html' %}

{% block head %}
<title>Posts</title> 
{% endblock %}

{% block body %}
<br>
<style>h2 {color:red;}
    

    </style>
    
    <div>
    
        <h1 style="color:saddlebrown" style="display:inline">All Products </h1>
        <br>
        <a class="btn btn-primary float-right" href="/" >Home</a><br><br>
        <a class="btn btn-success float-right" href="/posts/new" >Add New Product</a>         
        <style>h2 {color:red;}
           </style>
       
    </div>     
    
   

    <hr>

    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <br>
        <br>
        <h4>  product Type   : {{ post.ptype }}</h4>
        <br>
        <br>
        <h4>  product Colour  :   {{ post.pcor }}</h4>
        <br>
        <br>
        <h4>  Price of the Product     : {{ post.pric }}</h4>
        <br><br>
        <h5> Currently at  - {{ post.content }}</h5>
        <br>

        <a class="btn btn-danger" href='/posts/delete/{{post.id}}'>Delete</a>
        <a class="btn btn-primary" href='/posts/edit/{{post.id}}'>Edit</a>
        <a class="btn btn-secondary" href='/posts/move/{{post.id}}'>Move Product</a>
        <br>
        <hr>
        <br>
    {% endfor%}


 

<hr>
{% endblock %}
